@use '../../../theme/variables.scss' as vars;
@use '@carbon/type';

.existing-seedlot-page{
  margin: 0 1rem;
}

.existing-seedlot-breadcrumb{
  padding-left: 3.5rem;
  margin-bottom: 0.5rem;
}

.existing-seedlot-data-table{
  width: 100%;
}

