@use '../../theme/variables.scss' as vars;
@use '../../theme/colors.scss' as colors;
@use '@carbon/type';

.seedlot-summary-content {
  padding: 2.5rem !important;
}

.#{vars.$bcgov-prefix}--tabs {
  padding-left: 1.5rem;
}

.seedlot-details-content .#{vars.$bcgov-prefix}--tab-content {
  background-color: var(--bcgov-layer-01);
  padding: 2.5rem !important;
}
