.main-container {
    margin: 0px;
    padding: 40px;
}

.main-container h1 {
    /* Fixed heading styles/heading-05 */
    font-family: 'BC Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    /* Light Theme/Text/$text-primary */
    color: #131315;
}