.left-panel {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 0px 16px
}

.top-container {}

.bottom-container {
    align-self: flex-end;
    margin-top: auto;
}

.sub-item {
    padding: 16px 0px !important;
}