@use '@carbon/type';

.collection-form {
  margin-top: 1rem;
  padding-left: 2.5rem;
}

.collection-form h2 {
  @include type.type-style('heading-03');
  margin-bottom: 0.5rem;
}

.collector-agency-title {
  margin-top: 48px;
  margin-bottom: 2.5rem;
}

.collector-agency-checkbox {
  margin-top: 41px;
  margin-bottom: 25px;
}

.collector-agency-information {
  margin-bottom: 2rem;
}

.collector-information-title{
  margin-top: 48px;
}

.collector-information-dates{
  margin-top: 40px;
  margin-bottom: 32px;
}

.collection-methods{
  margin-top: 32px;
  margin-bottom: 32px;
}

.collection-form-buttons{
  margin-top: 4rem;
}

.btn-collection-form{
  margin-right: 1rem;
  height: 48px;
  width: 243px;
}
